@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    scroll-behavior: smooth !important;
}

.app {
    width: 88%;
    height: 100%;
    min-width: 350px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.container {
    width: 85%;
    /* min-height: 70%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: stretch;
    align-items: stretch;
    min-width: 350px;
    margin: auto;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

form .form-grp {
    padding: 10px;
}

form div {
    max-width: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons .btn{
    margin: 0 10px;
    text-decoration: none;
}

.btn {
    padding: 10px 10px;
    border-radius: 10px;
    border: 0;
    background-color: #cccccc;
    color: #000000;
    cursor: pointer;
}
i img {
    width: 100%;
    height: 100%;
    /* max-width: 24px;
    max-height: 24px; */
}

#app-overlay {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    opacity: 0;
    transition : 200ms ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none; /* So overlay won't capture any events*/
    z-index: 2;
}

#app-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.disabled {
    background-color: #EBEBE4 !important;
    color: black !important;
    pointer-events: none !important;
}

.wrap-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.onlyicon-btn {
    width: fit-content;
    padding: 8px 5px !important; 
    /* border-radius: 0 !important; */
}


/* scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 15px;
}

html::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

    /* scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-color: rgb(90,90,90) rgba(1,1,1,0);
} 



@media only screen and (max-width: 620px){
    .footer{
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 500px){
    .container {
        /* min-height: 80%; */
    }
}