.details-modal {
    box-sizing: border-box;
    background-color: #0F0F0F;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition : 200ms ease-in-out;
    z-index: 10;

    width: 93%;
    max-width: 670px;
    height: 95%;
    max-height: 775px;
    overflow: scroll;
    border-radius: 15px;
    padding: 20px 5px;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .details-modal::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .details-modal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 

.details-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-container{
    /* display: grid; */
    width: 90%;
    /* height: fit-content; necessary step to perform grid operations */
    height: 90%;
    margin: 0px auto;
}

.modal-container  .title {
    font-size: 26px;
    /* margin: 25px 0; */
    padding: 1em 0 1em 0;
    font-weight: 600;
    /* width: fit-content; */
    border-bottom: #ffffff solid 1px;
}

.btn-wrapper{
    width: 100%;
    text-align: right;
    right: 10px;
    position: sticky;

}
.close-btn{
    background: none;
    border: 0;
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
}

.close-btn:hover{
    background-color: rgba(200,200,200,0.5);
    border-radius: 25px;
}

.modal-container .detail{
    font-size: 16px;
    margin: 10px 0 20px;
}

.modal-images img {
    display: block;
    width: 100%;
    max-width: 375px;
    border-radius: 15px;
    margin: 20px auto;
}

@media screen and (min-width: 1000px) {
    .details-modal{
        width: 80%;
        max-width: none;
    }

    .modal-container{
        width: 60%;
        margin: 0 5%;
    }

    .modal-images{
        display: grid;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .modal-images img {
        
    }
     
}