:root {
    --btn-primary: #5A45F2;
    --btn-secondary: #F2F2F2;
}

.section-edit {
    background-color: var(--btn-primary) !important;
    color: #ffffff !important;
    border-radius: 8px;
    margin-bottom: 20px;
}

.section-edit:hover {
    background-color: var(--btn-primary) !important;
    color: #ffffff !important;
}

.edit-form-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%***REMOVED*** -50%) scale(0);
    transition : all 200ms ease-in-out;
    z-index: 10;

    background-color: #ffffff;
    color: #000000;

    padding: 20px;
    max-height: 80%;
    max-width: 400px;
    min-width: 350px;
    border-radius: 15px;
    overflow: scroll;
}


.edit-form-wrapper img {
    transform: scale(1.1);
}
 /* Hide scrollbar for Chrome***REMOVED*** Safari and Opera */
 .edit-form-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE***REMOVED*** Edge and Firefox */
  .edit-form-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 


.edit-form-wrapper.active {
    transform: translate(-50%***REMOVED*** -50%) scale(1);
}

.edit-form-wrapper .form-group {
    display: flex;
    flex-direction: column;
}

.edit-form-wrapper input[type=text]***REMOVED***
.edit-form-wrapper input[type=url]***REMOVED***
.edit-form-wrapper textarea{
    min-width: 300px;
    padding-left: 10px;
}

textarea {
    resize:none;
    padding: 10px;
}

#skills-form .form-tag i:first-of-type{
    width: unset;
    height: unset;
}

.button.disable {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}

.button.add-skill***REMOVED***
.button.add-skill:hover {
    padding: 5px 10px;
    background-color: var(--btn-secondary);
    color: rgba(0***REMOVED***0***REMOVED***0***REMOVED***0.8);
    box-shadow: 0 0 5px rgba(0***REMOVED***0***REMOVED***0***REMOVED***0.2);
    border: 1px solid rgba(0***REMOVED***0***REMOVED***0***REMOVED***0.3);
}


.button.add-skill i{
    width: 25px;
    height: 25px;
}

.action-buttons {
    margin: 40px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.button.save {
    background-color: #00D334;
    margin: 0 15px;
}
.button.cancel {
    background-color: #B20F0A;
    margin: 0 15px;
}

.button.save:hover {
    color: white;
    background-color: #00D334;
}
.button.cancel:hover {
    color: white;
    background-color: #B20F0A;

}

.button.commit {
    display: none;
    /* max-height: 0;
    overflow: hidden; */
}

.button.commit.show{
    display: block;
    /* max-height: none; */
}

#about-form***REMOVED***
#experience-from***REMOVED***
#skills-form {
    max-width: 100%;
}


@media only screen and (min-width: 400px) {
    .edit-form-wrapper{
        max-height: 90%;
***REMOVED***
}