.fab {
    background-color: rgba(35***REMOVED*** 35***REMOVED*** 46***REMOVED*** 0.95);
    border-radius: 100%;
    font-size: 24px;
    box-shadow: 0 0 15px rgba(0***REMOVED***0***REMOVED***0***REMOVED***0.4);
    position: fixed;
    cursor:pointer;

    padding: 30px;
    /* cursor:-moz-grab; */
}

.fab i{
    color: var(--text-secondary);
}

/* .fab a{
    padding: 30px;
} */

@media only screen and (max-width: 600px) {
    .fab{
        padding: 25px;
***REMOVED***
}