:root {
    --tag-bg-primary: #646464;
}

.form-tag-wrapper {
    padding: 0 !important;
    margin: 5px !important;
    text-decoration: none;
    color: white;

    height: fit-content;
    width: fit-content;

    border-radius: 15px;
    background-color: var(--tag-bg-primary);

    transform: scale(1);
    transition: all 200ms ease-in-out;

}

.form-tag-wrapper a {
    text-decoration: none;
    color: unset;
}

/* .form-tag-wrapper:hover {
    transform: scale(1.1);
} */

.form-tag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    max-height: 30px;
    width: fit-content;
}

.form-tag i:first-of-type {
    padding-right: 10px;
}
.form-tag i:last-of-type {
    padding-left: 10px;
}

.form-tag i {
    display: block;
    width: 26px;    /* includes padding-right of 10px */
    height: 16px;
}

.form-tag .minus-icon {
    margin-left: auto;
    cursor: pointer;
}

.form-tag .minus-icon:hover {
    transform: scale(1.1);
}

.form-tag-wrapper.hide {
    transform: scale(0);
    overflow: hidden;
}