:root {
    /* --bg-primary: #23232e; */
    --bg-primary: rgba(35***REMOVED*** 35***REMOVED*** 46***REMOVED*** 0.95);
    --bg-secondary: #141418;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --transition-type: 200ms ease-in-out;
}

div***REMOVED*** a{
    box-sizing: border-box;
}

.sidebar{
    margin: 0;
    padding: 0;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;

    bottom: 0;
    /* width: 100%; */
    left: 0;
    right: 0;

    background-color: var(--bg-primary);
    z-index: 1;
}

a{
    display: block;
    text-decoration: none;
}

svg {
    width: 36px;
    height: 36px;
    min-width: 36px;
}

.logo{
    display: none;
}

.link-text{
    display: none;
}

.fa-primary{
    fill: var(--text-secondary);
}
.fa-secondary{
    fill: var(--text-primary);
}

.nav-item path{
    fill: var(--text-primary);
}

.sidebar-link{
    padding: 10px;
}

.nav-item:hover{
    background-color: var(--bg-secondary);
}

.nav-item:hover span{
    color: var(--text-secondary);
}

.nav-item:hover path{
    fill: var(--text-secondary);
}

/* Large screens */
@media only screen and (min-width: 620px) {
    .sidebar{
        flex-direction: column;
        left: 8px;
        right: unset;
        align-items: flex-start;
        justify-content: unset;


        /* vertically center */
        top: 50%;
        transform: translateY(-50%);
        transition: width var(--transition-type);

        height: 80%;
        width: 56px;

***REMOVED***

    .logo{
        display: block;
        /* background-color: var(--bg-secondary); */
        margin-bottom: 16px;
***REMOVED***

    .logo svg{
        transition: transform var(--transition-type);
        cursor: pointer;
***REMOVED***
    .logo svg:hover{
        background-color: var(--bg-secondary);
***REMOVED***

    .logo-text{
        color: var(--text-secondary);
        font-weight: bold;
        font-size: 18px;

***REMOVED***
    .nav-item .link-text{
        color: var(--text-primary);
        font-weight: 500;
***REMOVED***

    .logo-text***REMOVED***
    .link-text{
        padding-left: 20px;
    
        width: 150px;
        display: none;
        opacity: 0;
        transition: opacity var(--transition-type)***REMOVED*** width var(--transition-type);

***REMOVED***
    .sidebar-link{
        display: flex;
        align-items: center;
        max-width: none;
***REMOVED***

    .nav-item:last-of-type{
        margin-top: auto;
        /* background-color: var(--bg-secondary); */
***REMOVED***

    .sidebar.expand{
        width: 200px;
        transition: width var(--transition-type);
***REMOVED***

    .sidebar.expand .logo svg{
        transform: rotate(-180deg);
***REMOVED***

    /* .sidebar.expand .sidebar-link{
        width: 100%;
***REMOVED*** */

    .sidebar.expand .link-text{
        /* opacity: 1; */
        display: block;
***REMOVED***

    .nav-item:hover{
        color: white !important;
        background-color: var(--bg-secondary);
        /* fill: var(--text-secondary); */
***REMOVED***

    
    
    .visible{
        opacity: 1;
        width: 120px;
***REMOVED***


}