.tag {
    background-color: rgba(255***REMOVED***255***REMOVED***255***REMOVED***0.3);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;

    transform: scale(1) translate3d(0***REMOVED*** 0***REMOVED*** 0);
    transition : transform 20ms ease-in-out;
}

.tag:hover{
    transform: scale(1.1) translate3d(0***REMOVED*** 0***REMOVED*** 10px);
    background-color: rgba(200***REMOVED***200***REMOVED***200***REMOVED***0.3);
}

.exp-container .tags***REMOVED***
.modal-container .tags {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.tags .tag {
    margin: 10px;
}

@media screen and (min-width: 1000px){
    .exp-container .tags{
        justify-content:flex-start;
        margin: 0 0 20px 0;
***REMOVED***

    /* .modal-container .tags{
        justify-content:flex-start;
        margin: 0;
***REMOVED*** */
}