.experience {
    border-radius: 15px;
    transition : transform 200ms ease-in-out;

    display: flex;
    flex-direction: column;
    /* backdrop-filter: blur(20px); */
}

/* .experience:hover{
    transform: scale(1.05) translate3d(0, 0, 10px);
} */
.exp-container {
    display: grid;
    width: 90%;
    margin: 10px auto;
}

.exp-container  .title {
    font-size: 26px;
    margin: 25px 0;
    padding: 1em 0 1em 0;
    font-weight: 600;
    /* width: fit-content; */
    border-bottom: #ffffff solid 1px;
}

.brief {
    font-size: 16px;
    margin: 10px 0 20px;
}

.exp-images img {
    display: block;
    width: 100%;
    max-width: 375px;
    border-radius: 15px;
    margin: 20px auto;
}

.exp-images img:nth-child(2) {
    display: none;
}

.exp-edit.button {
    width: 150px;
    border: 2px solid white;
}

.face-right .exp-edit.button {
    align-self: flex-start;
    border-radius: 0 15px 0 15px;
}

.face-left .exp-edit.button {
    align-self: flex-end;
    border-radius: 15px 0 15px 0;
}


@media screen and (min-width: 1000px) {
    .exp-container {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 2em;
        /* grid-template-rows: repeat(5, 1fr); */
        /* min-height: 480px; */
        align-items:flex-start;
    }

    .exp-images img{
        max-width: none;
    }
    .experience.face-right .info {
        grid-column: 1/4;
        grid-row: 1/4;
        align-self: start;
    }

    .experience.face-left .info {
        grid-column: 4/7;
        grid-row: 1/4;
    }

    .experience.face-right .tags {
        grid-column: 1/4;
        grid-row: 4/6;
    }

    .experience.face-left .tags {
        grid-column: 4/7;
        grid-row: 4/6;
    }

    .experience.face-right .exp-images {
        height: 100%;
        grid-column: 4/7;
        grid-row: 1/6;
        align-self:flex-start;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .experience.face-left .exp-images {
        height: 100%;
        grid-column: 1/4;
        grid-row: 1/6;
        align-self:flex-start;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .exp-images img{
        grid-row: 1/2;
        margin: 0;
        border-radius: 5px;
    }
    .experience.face-right .exp-images img:nth-child(1){
        grid-column: 1/9;
        z-index: 1;
    }

    .experience.face-left .exp-images img:nth-child(1){
        grid-column: 5/-1;
        z-index: 1;
    }

    .experience.face-right .exp-images img:nth-child(2){
        display: block;
        grid-column: 3/-1;
        align-self: end;
        justify-self: end;
    } 

    .experience.face-left .exp-images img:nth-child(2) {
        display: block;
        grid-column: 1/11;
        align-self: end;
        justify-self: end;
    } 
}

@media screen and (min-width: 1280px) {
    .exp-container  .title {
        font-size: 32px;
    }

    .experience.face-right .exp-images img:nth-child(1){
        grid-column: 1/8;
    }

    .experience.face-left .exp-images img:nth-child(1){
        grid-column: 6/13;
    }

    .experience.face-right .exp-images img:nth-child(2){
        grid-column: 5/-1;
    } 
    .experience.face-left .exp-images img:nth-child(2){
        grid-column: 1/9;
    } 
}

/* Large screen */
@media screen and (min-width: 1500px) {
    .experience.face-right .exp-images img:nth-child(1){
        grid-column: 1/7;
    }

    .experience.face-left .exp-images img:nth-child(1){
        grid-column: 7/13;
    }

    .experience.face-right .exp-images img:nth-child(2){
        grid-column: 6/-1;
    } 
    .experience.face-left .exp-images img:nth-child(2){
        grid-column: 1/8;
    }
}
