.form-group.file {
    width: 100%;
}
.form-group.file .button {
    max-height: 30px;
}

.form-group.file.long label {
    width: 100%;
}
.file-input {
    display: none;
}

.btn-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-upload label{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #646464;
    color: white;

    padding: 10px 20px;
    max-height: 30px;
    min-width: max-content;
    border-radius: 8px;

    transition: all 10ms ease-in-out;
}

.btn-upload label i{
    width: 26px;
    height: 16px;
    padding-right: 10px;
}

.btn-upload .filename {
    padding-top: 5px;
    font-size: 12px;
}

.btn-upload label:hover {
    transform: scale(1.1);
}