:root {
    --bg-primary_: #2E3959;
    --text-primary_: #ffffff;
    --transition-speed: 200ms ease-in-out;
}

.form-overlay{
    background-color: var(--bg-primary_);
    color: var(--text-primary_);
    box-sizing: border-box; 
    align-self: end;
    grid-row: 1/2;
    grid-column: 1/2;

    /* width: 298px;
    max-width: 298px;
    min-height: 190px; */

    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-size: 14px;
    padding: 15px;
    border-radius: 20px 20px 0 0;
    min-width: 320px;
}

.form-overlay div{
    margin: 10px 0;
}

.form-overlay .title{
    font-size: 2em;
}

.form-overlay .button{
    text-align: center;
}

.form-overlay .button{
    width: fit-content;
    padding: 8px 20px;
}

@media only screen and (min-width: 1000px)  {
    .form-overlay{
        /* height: 295px; */
        /* min-height: 295px;
        min-width: 298px; */
        border-radius: 20px 0 0 20px;
        justify-content: space-around;
    }
}