@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html***REMOVED*** body***REMOVED*** #root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins'***REMOVED*** sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}